body{
	padding: 0;
	margin: 0;
    font-family: 'lato', sans-serif;
    background-image: url("https://img.freepik.com/foto-gratis/aula-escuela-fondo-borroso-joven-estudiante-vista-borrosa-sala-clase-primaria-nino-o-profesor-sillas-mesas-campus-imagenes-estilo-efecto-vintage_1253-1375.jpg?size=626&ext=jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

#title_form{
	text-align: center;
	color: #2980B9;
}

.main-section{
    margin:0 auto;
    margin-top:25%;
    padding: 0;
}

.modal-content{
    background-color: #3b4652;
    opacity: .85;
    padding: 0 20px;
	box-shadow: 0px 0px 3px #848484;

}
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    width: 100xp;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}

.form-group input{
    height: 60px;
    font-size: 18px;
    border:2;
    padding-left: 60px;
    border-radius: 10px;
}

.form-group::before{
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 28px;
    font-size: 22px;
    padding-top:4px;
}

.form-group#user-group::before{
	content: "\f007";
	
}



#form{
    background-color: #EAF2F8;
    padding:2px;
    cursor:pointer;
    display:block;
    width:390px;
    margin: 0 auto;
    text-align:center;
   
}

#todo{
    background-image: url("https://image.jimcdn.com/app/cms/image/transf/none/path/sc77e1e58a42c514a/image/i9977c7b3a6db203a/version/1516578954/image.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    width: 700px;
 
}
.form-check, #correcta{
    text-align: left;
}