body{
	padding: 0;
	margin: 0;
    font-family: 'lato', sans-serif;
    background-image: url("https://img.freepik.com/foto-gratis/aula-escuela-fondo-borroso-joven-estudiante-vista-borrosa-sala-clase-primaria-nino-o-profesor-sillas-mesas-campus-imagenes-estilo-efecto-vintage_1253-1375.jpg?size=626&ext=jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    

}

.navbar-brand{
	font-family: 'Pacifico', sans-serif;
	font-size: 2rem;
}

#navbarSupportedContent, ul, li, a{
    font-size: 25px;
    
}

/*Fomulario de entrada*/
header{
    padding-top: 2em;
}
#title_form{
	text-align: center;
    color: #0E5B8D;
}

.main-section{
    margin:0 auto;
    margin-top:25%;
    padding: 0;
}

.modal-content{
    background-color: #3b4652;
    opacity: .85;
    padding: 0 20px;
	box-shadow: 0px 0px 3px #848484;

}
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    width: 100xp;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}

.form-group input{
    height: 60px;
    font-size: 18px;
    border:2;
    padding-left: 60px;
    border-radius: 10px;
}

#boton{    
    width: 100px;
}


/*Formulario de crear los cuestionarios solo botones*/


input, #nombrecue{
    background-color: #FDFEFE;
    color: #566573;
    border-radius: 2px;
    border: #566573;
    height: 50px;
    
}

#pri{    
    width: 50%;
    
}

#botonesprincipales{
    width: 550px; 
    margin: 0 auto;
}
#boton1{
    
    background-color: #1883ba;
    margin-left: 2em;
    color: black;        
}
#boton2{

    background-color: #82E0AA;
    margin-left: 2em;
    color: black;        
}
#boton3{
   
    background-color:#F4D03F;
    margin-left: 2em;
    color: black;        
}
/*Parte del formulairo solo las cajas*/
#multi{
    margin: 0 auto;
	width: 620px;
	padding-top: 40px;
	color: white;
    position: relative;
    
}
input{
    display: block;	
}
input{
    width: 620px;
    
	border: none;
	border-radius: 5px;
}
input, #numero{
    background-color: #AED6F1;
    border-radius: 5px;
    width: 25%;
}

/*---------------------------------*/
#VF{
    margin: 0 auto;
	width: 620px;
	padding-top: 40px;
	color: white;
    position: relative;

}
#opciones{
    background-color: #ABEBC6;
    border-radius: 5px;    
    width: 25%;
}

/*--------------------------------*/
#RC{
    margin: 0 auto;
	width: 620px;
	padding-top: 40px;
	color: white;
    position: relative;
}
#estilo{
    background-color: #ABEBC6;
    border-radius: 5px;
    width: 50%;
    
}

/*-----------*/
.navbar-brand, .nav-link{
    color: black; 
}
#log{
    background-color: white;
    padding-left: 1em;
}
.btn-outline-secondary{
    color: black;
}